<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-12 col-lg-6">

                <!-- Change Password Form -->
                <form [formGroup]="form">
                    <div class="form-group">
                        <label>Old password</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text h-100">
                                    <i class="fa fa-lock"></i>
                                </span>
                            </div>
                            <input formControlName="oldPassword" [type]="togglePasswordOptions?.oldPasswordType"
                                class="form-control" autocomplete="current-password">
                            <div class="input-group-append" (click)="toggleViewOldPasswordBtn()">
                                <span class="input-group-text h-100"><i
                                        class="fa {{ togglePasswordOptions?.oldPasswordType === 'password'? 'fa-eye': 'fa-eye-slash' }}"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>New Password</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text h-100">
                                    <i class="fa fa-lock"></i>
                                </span>
                            </div>
                            <input formControlName="newPassword" [type]="togglePasswordOptions?.passwordType"
                                class="form-control" autocomplete="current-password">
                            <div class="input-group-append" (click)="toggleViewPasswordBtn()">
                                <span class="input-group-text h-100"><i
                                        class="fa {{ togglePasswordOptions?.passwordType === 'password'? 'fa-eye': 'fa-eye-slash' }}"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Confirm Password</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text h-100">
                                    <i class="fa fa-lock"></i>
                                </span>
                            </div>
                            <input formControlName="confirmPassword" [type]="togglePasswordOptions?.confirmPasswordType"
                                class="form-control" autocomplete="new-password">
                            <div class="input-group-append" (click)="toggleViewConfirmPasswordBtn()">
                                <span class="input-group-text h-100"><i
                                        class="fa {{ togglePasswordOptions?.confirmPasswordType === 'password'? 'fa-eye': 'fa-eye-slash' }}"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="submit-section">
                        <button (click)="saveChanges()" type="submit" class="btn btn-primary submit-btn"
                            [disabled]="form.invalid || isLoading">
                            <i *ngIf="isLoading"><span class="spinner-border spinner-border-sm" role="status"
                                    aria-hidden="true"></span></i>
                            <span>Save Changes</span>
                        </button>
                    </div>
                </form>
                <!-- /Change Password Form -->
            </div>
        </div>
    </div>
</div>