div.card {
    form {
        div.input-group {
            div.input-group-prepend {
                span.input-group-text {
                    border-top-right-radius: 0px;
                    border-bottom-right-radius: 0px;
                }
            }
            div.input-group-append {
                span.input-group-text {
                    border-top-left-radius: 0px;
                    border-bottom-left-radius: 0px;
                }
            }
        }
    }
}