<!-- Footer -->
<footer class="footer">
    <!-- Footer Bottom -->
    <div class="footer-bottom">
        <div class="container-fluid">

            <!-- Copyright -->
            <div class="copyright">
                <div class="row">
                    <div class="col-md-6 col-lg-6">
                        <div class="copyright-text">
                            <div class="footer-logo">
                                <app-logo (click)="navService.goTo('/home/doctor-dashboard')" customClass="logo-white"></app-logo>
                            </div>
                            <p class="mb-0"><a href="https://www.dimsoft.fr" target="_blank">By Dimsoft</a></p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 terms">

                        <!-- Copyright Menu -->
                        <div class="copyright-menu">
                            <ul class="policy-menu">
                                <li><a href="javascript:void(0);">Terms and Conditions</a></li>
                                <li><a href="javascript:void(0);">Policy</a></li>
                            </ul>
                        </div>
                        <!-- /Copyright Menu -->

                    </div>
                </div>
            </div>
            <!-- /Copyright -->

        </div>
    </div>
    <!-- /Footer Bottom -->

</footer>
<!-- /Footer -->