<div class="row">
    <div class="col-md-12">
        <h3 class="mb-4 title">List Produits</h3>
        <div class="appointment-tab">

            <!-- Appointment Tab -->
            <ul class="nav nav-tabs nav-tabs-solid nav-tabs-rounded">
                <li class="nav-item">
                    <a (click)="activeTab = 1" class="nav-link {{ (activeTab === 1) ? 'active': '' }}" href="javascript:void(0);" data-toggle="tab">All</a>
                </li>

                <li class="nav-item active nouveau">
                    <a class="nav-link" href="javascript:void(0);" (click)="createProduit()" data-toggle="tab"> Nouveau Produit</a>
                </li>
                <li class="refresh-icon">
                    <img (click)="refresh('refresh')" src="/assets/admin/img/refresh.png" height="30" width="30" alt="refresh">
                </li>
            </ul>
            <!-- /Appointment Tab -->

            <div class="tab-content">
                <!-- All Appointment Tab -->
                <div class="tab-pane {{ (activeTab === 1) ? 'show active': '' }}" id="all-appointments">
                    <app-display-appointments [dtTrigger]="allApptDtTrigger" [appointments]="allAppts" [isLoading]="isLoadingAllAppts" (onAppointmentStateChange)="getAllAppts($event)">
                    </app-display-appointments>
                </div>

            </div>
        </div>
    </div>
</div>