div.row {
    h3.title {
        font-size: 1.38rem;
    }
    ul.nav-tabs {
        li.refresh-icon {
            margin-left: auto;

            img {
                cursor: pointer;
            }
        }
    }
}