<!-- Home Banner -->
<app-section-search></app-section-search>
<!-- /Home Banner -->

<!-- Clinic and Specialities -->
<app-section-specialities></app-section-specialities>
<!-- /Clinic and Specialities -->

<!-- Take A Quick Appointment -->
<app-section-quick-appointment></app-section-quick-appointment>
<!-- /Take A Quick Appointment -->

<!-- MAPA -->
<app-section-mapa-description></app-section-mapa-description>
<!-- /MAPA -->

<!-- Video Presentation -->
<app-section-video></app-section-video>
<!-- /Video Presentation -->

<!-- Doctors Section -->
<app-section-doctors></app-section-doctors>
<!-- /Doctors Section -->

<!-- Testimonials Section -->
<app-section-testimonials></app-section-testimonials>
<!-- /Testimonials Section -->

<!-- Director Citation Section -->
<app-section-director-citation></app-section-director-citation>
<!-- Director Citation Section -->

<!-- Availabe Features -->
<!--app-section-availabe-features></app-section-availabe-features-->
<!-- /Availabe Features -->