<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Schedule Timings</h4>
                <div class="profile-box">
                    <div class="row">
                        <app-timing-slot-duration></app-timing-slot-duration>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <app-schedule-widget></app-schedule-widget>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>