<div class="card-body">
    <div *ngIf="isLoading" class="page-loader-wrapper">
        <div class="lds-dual-ring"></div>
        <span class="page-loading-msg mt-4 text-bold">Loading...</span>
    </div>
    <div class="table-responsive">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover table-center datatable mb-0">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Prise</th>
                    <th class="text-center">Image</th>
                    <th>Boutique</th>
                    <th>Operations</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of specialist">
                    <td>
                        <h2 class="table-avatar">
                            <a href="javascript:void(0);">{{ item?.patientName }}
                                <span>{{ item?.patientPhone }}</span>
                                <span>{{ item?.patientEmail }}</span>
                            </a>
                        </h2>
                    </td>
                    <td>{{ item?.appointmentDate | date:'fullDate' }}<span class="d-block text-info">
                             minutes</span></td>
                    <td>{{ item?.patientMessage }}</td>

                    <td>{{ item?.patientMessage }}</td>

                    <td>{{ item?.patientMessage }}</td>

                    <td class="text-right">
                        <div class="table-action">
                            <a (click)="confirm(item, item)" href="javascript:void(0);" class="btn btn-sm bg-success-light">
                                <i class="fas fa-check"></i> Update
                            </a>
                            <a (click)="confirm(item, 'this.states.cancel')" href="javascript:void(0);" class="btn btn-sm bg-danger-light">
                                <i class="fas fa-times"></i> Delete
                            </a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>