<div class="card-body">
    <div *ngIf="isLoading" class="page-loader-wrapper">
        <div class="lds-dual-ring"></div>
        <span class="page-loading-msg mt-4 text-bold">Loading...</span>
    </div>
    <div class="table-responsive">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover table-center datatable mb-0">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Specialities</th>
                    <th class="text-right">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of items">
                    <td>{{ item?.id }}</td>
                    <td>
                        <h2 class="table-avatar">
                            <a href="javascript:void(0);" class="avatar avatar-sm mr-2">
                                <app-custom-image [src]="imageService.getCover(item?.specialityImagePath)" [alt]="item?.specialityName"></app-custom-image>
                            </a>
                            <a href="javascript:void(0);">{{ item?.specialityName }}</a>
                        </h2>
                    </td>
                    <td class="text-right">
                        <div class="actions">
                            <a (click)="edit(item)" class="btn btn-sm bg-success-light" data-toggle="modal"
                                href="javascript:void(0);">
                                <i class="fe fe-pencil"></i> Edit
                            </a>
                            <a (click)="delete(item)" data-toggle="modal" href="javascript:void(0);"
                                class="btn btn-sm bg-danger-light">
                                <i class="fe fe-trash"></i> Delete
                            </a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
