div.sidebar {
    height: calc(100vh - 55px);
    display: flex;
    flex-direction: column;
    padding: 0;

    div.sidebar-minimizer {
        position: relative;
        flex: 0 0 50px;
        cursor: pointer;
        background-color: #333d46;
        border: 0;
    }

    div.sidebar-minimizer:before {
        position: absolute;
        top: 0;
        right: 0;
        width: 50px;
        height: 50px;
        content: "";
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11 14'%3E%3Cpath fill='%23fff' d='M9.148 2.352l-4.148 4.148 4.148 4.148q0.148 0.148 0.148 0.352t-0.148 0.352l-1.297 1.297q-0.148 0.148-0.352 0.148t-0.352-0.148l-5.797-5.797q-0.148-0.148-0.148-0.352t0.148-0.352l5.797-5.797q0.148-0.148 0.352-0.148t0.352 0.148l1.297 1.297q0.148 0.148 0.148 0.352t-0.148 0.352z'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: 12.5px;
        transition: .3s;
    }

    div.sidebar-minimizer-rotate:before {
        transform: rotate(-180deg);
    }
}

.hide {
    display: none;
}

@media only screen and (max-width: 991.98px) {
    div.sidebar-minimizer:before {
        background: none !important;
    }
}

i {
    font-size: 20px !important;
}