<!-- Profile Sidebar -->
<div class="profile-sidebar">
    <div class="widget-profile pro-widget-content">
        <div class="profile-info-widget">
            <a href="#" class="booking-doc-img">
                <app-custom-image [src]="userImagePath" alt="User Image"></app-custom-image>
            </a>
            <div class="profile-det-info">
                <h3>Dr. {{currentUser?.firstName}}</h3>
                <div class="patient-details" *ngIf="specialitiesList.length > 0">
                    <h5 class="mb-0">{{specialitiesListAsString}}</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="dashboard-widget">
        <nav class="dashboard-menu">
            <ul>
                <li *ngFor="let menu of navItems[0]?.children" [routerLink]="[menu?.url]" routerLinkActive="active"
                    class="{{ (menu === menuActive)? 'active': '' }} {{authService.hasAnyRole(menu.roles)? '' : 'hide'}}">
                    <a (click)="menuActive = menu;" href="javascript:void(0);">
                        <i class="fas {{ menu?.icon }}"></i>
                        <span>{{ menu?.name }}</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)" (click)="authService.logout()">
                        <i class="fas fa-sign-out-alt"></i>
                        <span>Logout</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<!-- /Profile Sidebar -->