section.contact-form {
    padding: 7px 0 50px 0;
    width: 90%;
    margin: auto;
    form.contact-form {
        section.contact-informations {
            div.submit-section {
                button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: auto;
                    min-width: 235.52px;
                }
            }
        }
    }
}