<settings>
	<!-- the path to the local repository - defaults to ~/.m2/repository
  -->
	<!-- <localRepository>/path/to/local/repo</localRepository>
  -->
	<mirrors>
		<mirror>
			<!--Send all requests to the public group -->
			<id>artifactory</id>
			<mirrorOf>*</mirrorOf>
			<url>https://dimsoftjfrog.ddns.net/artifactory/Maven-association</url>
		</mirror>
	</mirrors>
	<activeProfiles>
		<!--make the profile active all the time -->
		<activeProfile>artifactory</activeProfile>
	</activeProfiles>
	<profiles>
		<profile>
			<id>artifactory</id>
			<!--Override the repository (and pluginRepository) "central" from the Maven Super POM
          to activate snapshots for both! -->
			<repositories>
				<repository>
					<id>central</id>
					<url>http://central</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<id>central</id>
					<url>http://central</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</pluginRepository>
			</pluginRepositories>
		</profile>
	</profiles>
	<pluginGroups>
		<pluginGroup>org.sonatype.plugins</pluginGroup>
	</pluginGroups>
	<servers>
		<server>
			<id>artifactory</id>
			<username>maven</username>
			<password>Maxime.1413</password>
		</server>
	</servers>
</settings>
