div.card {
    form {
        div.input-group {
            div.input-group-prepend {
                span.input-group-text {
                    border-top-right-radius: 0px;
                    border-bottom-right-radius: 0px;
                }
            }
        }
        small.form-text {
            a {
                color: blue;
            }
        }
    }
}