<section class="section section-director-citation">
    <div class="container-fluid">
        <app-section-title class="text-center" [data]="data"></app-section-title>
        <div class="row">
            <div class="col-center col-md-10">
                <!--app-cross-with-image class="bottom-right" bgImgClass="no-bg"></app-cross-with-image-->
                <div class="row">
                    <div class="col-md-6 director-cover" data-aos="fade-right" data-aos-duration="1000"
                        data-aos-delay="500">
                        <div class="director-cover-overlay"></div>
                        <h4>Dr. KUETE Patrick</h4>
                    </div>
                    <div class="col-md-6 director-citation" data-aos="fade-left" data-aos-duration="1000"
                        data-aos-delay="500">
                        <p class="citation">
                            <i class="fa fa-quote-left quote quote-left"></i>
                           {{this.translations.MotDuDirecteur}}
                            <i class="fa fa-quote-right quote quote-right"></i>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>