div.card {
    div.card-body {
        padding: 20px;
    }
    td {
        div.table-action {
            a.btn {
                margin: 0 2px;
            }
        }
        h2.table-avatar {
            a.avatar {
                margin-right: 7px;
            }
        }
    }
}