<!-- Main Wrapper -->
<div class="main-wrapper admin-wrapper">
    <app-admin-default-header></app-admin-default-header>
    <app-admin-default-sidebar></app-admin-default-sidebar>
    <!-- Page Wrapper -->
    <div class="page-wrapper">
        <div class="content container-fluid">
            <app-admin-breadcrumb></app-admin-breadcrumb>
            <router-outlet></router-outlet>
        </div>
    </div>
    <!-- /Page Wrapper -->
    <app-admin-default-footer></app-admin-default-footer>
</div>