<div class="row">
    <div class="col-md-12 d-flex">

        <!-- Recent Orders -->
        <div class="card card-table flex-fill">
            <div class="card-header">
                <h4 class="card-title">Produits List</h4>
                <li class="refresh-icon">
                    <img (click)="getAllSpecialists('refresh')" src="assets/admin/img/refresh.png" height="30" width="30" alt="refresh">
                </li>
            </div>
            <app-display-doctors [specialist]="specialist" [dtTrigger]="doctorsDtTrigger" [isLoading]="isLoadingSpecialists"></app-display-doctors>
        </div>
        <!-- /Recent Orders -->

    </div>
</div>